VITE_FIREBASE_API_KEY="_api_key_here"
VITE_FIREBASE_AUTH_DOMAIN="_auth_domain_here"
VITE_FIREBASE_PROJECT_ID="_project_id_here"
VITE_FIREBASE_STORAGE_BUCKET="_storage_bucket_here"
VITE_FIREBASE_MESSAGING_SENDER_ID="_messaging_sender_id_here"
VITE_FIREBASE_APP_ID="_app_id_here"